openapi: 3.0.3
info:
  title: Quickstart
  version: 1.0.0
  description: |
    | Link |
    | --- |
    | [Get Token Information](/docs/token-api#get-token-information) |
    | [Get Mints in Market](/docs/token-api#get-tokens-in-market) |
    | [Get Tradable Mints](/docs/token-api#get-all-tradable-tokens) |
    | [Get Tokens by Tag](/docs/token-api#get-tagged-tokens) |
    | [Get New Tokens](/docs/token-api#get-new-tokens) |
    | [Get All Tokens](/docs/token-api#get-all-tokens) |

servers:
  - url: https://api.jup.ag/tokens/v1

paths:
  /token/{mint_address}:
    get:
      summary: token information
      description: |
        Returns the specified mint address's token information and metadata.
        
        :::note
        - Refer to [Token API doc](/docs/token-api#get-token-information) for more information.
        :::
      parameters:
      - name: address
        in: path
        description: The token's mint address
        required: true
        schema:
          type: string
        example: So11111111111111111111111111111111111111112
      responses:
        '200':
          description: Returns metadata about a particular token
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MintIncludingDuplicates"
  /market/{market_address}/mints:
    get:
      summary: mints in market
      description: |
        Returns the mints involved in a market.
        
        :::note
        - Refer to [Token API doc](/docs/token-api#get-tokens-in-market) for more information.
        :::
      parameters:
      - name: address
        in: path
        description: A market/pool address
        required: true
        schema:
          type: string
        example: BVRbyLjjfSBcoyiYFuxbgKYnWuiFaF9CSXEa5vdSZ9Hh
      responses:
        '200':
          description: Returns the mints involved in a market
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /mints/tradable:
    get:
      summary: tradable
      description: |
        Returns a list of all mints tradable via Jupiter routing.
        
        :::note
        - Refer to [Token API doc](/docs/token-api#get-all-tradable-tokens) for more information.
        :::
      responses:
        '200':
          description: List of mints which are tradable via Jupiter routing
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /tagged/{tag}:
    get:
      summary: tagged
      description: |
        Returns a list of mints with specified tag(s) along with their metadata.
        
        :::note
        - Refer to [Token API doc](/docs/token-api#get-tagged-tokens) for more information.
        :::
      parameters:
      - name: tag_list
        in: path
        description: A list of one or more tags, comma separated. The list is the
          union of tokens with these tags.
        required: true
        schema:
          type: string
        example: lst,token-2022
      responses:
        '200':
          description: The list of tokens with the tags given
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MintIncludingDuplicates"
  /new:
    get:
      summary: new
      description: |
        Returns new tokens with metadata, created at timestamp and markets.
        
        :::note
        - Refer to [Token API doc](/docs/token-api#get-new-tokens) for more information.
        :::
      parameters:
      - name: limit
        in: query
        description: How many records to output in the result
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
        example: '10'
      - name: offset
        in: query
        description: |-
          The offset into the result set. Used in conjunction with
          `limit` to page through the data.
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
          default: 0
        example: '20'
      responses:
        '200':
          description: List of new tokens which are tradable with SOL
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MintWithCreationTimeAndMarkets"
  /all:
    get:
      summary: all
      description: |
        Returns all tokens with all metadata.
        
        :::note
        - Refer to [Token API doc](/docs/token-api#get-all-tokens) for more information.
        :::
      responses:
        '200':
          description: List of all tokens with all metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Mint"

components:
  schemas:
    Mint:
      type: object
      required:
      - address
      - name
      - symbol
      - decimals
      - tags
      - created_at
      - extensions
      properties:
        address:
          type: string
        created_at:
          type: string
          format: date-time
        daily_volume:
          type:
          - number
          - 'null'
          format: double
        decimals:
          type: integer
          format: int32
        extensions: {}
        freeze_authority:
          type:
          - string
          - 'null'
        logoURI:
          type:
          - string
          - 'null'
        mint_authority:
          type:
          - string
          - 'null'
        minted_at:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type: string
        permanent_delegate:
          type:
          - string
          - 'null'
        symbol:
          type: string
        tags:
          type: array
          items:
            type:
            - string
            - 'null'
    MintIncludingDuplicates:
      type: object
      required:
      - address
      - name
      - symbol
      - decimals
      - tags
      - created_at
      - extensions
      properties:
        address:
          type: string
        created_at:
          type: string
          format: date-time
        daily_volume:
          type:
          - number
          - 'null'
          format: double
        decimals:
          type: integer
          format: int32
        extensions: {}
        freeze_authority:
          type:
          - string
          - 'null'
        logoURI:
          type:
          - string
          - 'null'
        mint_authority:
          type:
          - string
          - 'null'
        minted_at:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type: string
        permanent_delegate:
          type:
          - string
          - 'null'
        symbol:
          type: string
        tags:
          type: array
          items:
            type:
            - string
            - 'null'
    MintWithCreationTimeAndMarkets:
      type: object
      required:
      - mint
      - created_at
      - metadata_updated_at
      - name
      - symbol
      - decimals
      - known_markets
      properties:
        created_at:
          type: string
          format: date-time
        decimals:
          type: integer
          format: int32
        freeze_authority:
          type:
          - string
          - 'null'
        known_markets:
          type: array
          items:
            type: string
        logo_uri:
          type:
          - string
          - 'null'
        metadata_updated_at:
          type: string
          format: date-time
        mint:
          type: string
        mint_authority:
          type:
          - string
          - 'null'
        name:
          type: string
        symbol:
          type: string
