.fileBox {
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition-duration: 0.15s;
  align-items: center;
  padding: 16px;
}

.fileBox:hover {
  box-shadow: 0px 12px 13px rgba(0,0,0,0.02);
  transform: translateY(-2px);

}

.fileInfo {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: rgba(245,247,249,1.00);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-right: 12px;
}

.fileName {
  font-weight: 500;
  font-size: 16px;
  margin-right: 12px;
}

.fileType {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}
.fileSize {}