@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);*/
  --ifm-font-family-base: 'Inter', sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* --ifm-color-primary: #d4dde5;
  --ifm-color-primary-dark: #b9c7d4;
  --ifm-color-primary-darker: #abbccc;
  --ifm-color-primary-darkest: #829cb3;
  --ifm-color-primary-light: #eff3f6;
  --ifm-color-primary-lighter: #fdfefe;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #101f2e;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3); */
}

@layer base {
  .stats :where(*) {
    margin: 0;
    padding: 0;
  }

  .stats a {
    text-decoration: none;
  }

  .stats .recharts-tooltip-wrapper {
    outline: none;
  }
}

*:where(.home *):is(h1, h2, h3, h4, h5, p) {
  margin: 0;
  padding: 0;
}

.launch-app {
  background: linear-gradient(0deg, rgb(18, 29, 40), rgb(18, 29, 40)),
    linear-gradient(
      96.8deg,
      rgba(252, 192, 10, 0.05) 4.71%,
      rgba(78, 186, 233, 0.05) 87.84%
    ),
    rgba(0, 0, 0, 0.4);
  @apply text-inherit hover:text-white hover:no-underline font-semibold px-5 py-3 rounded-xl border border-white/10 border-solid ml-auto;
}

.launch-app span {
  background-image: linear-gradient(247.44deg, #c7f284 13.88%, #00bef0 99.28%);
  background-clip: text;
  color: transparent;
}

.navbar__title {
  @apply font-bold text-[18px];
  font-weight: bold;
  font-size: 18px;
  color: #19232d;
  display: none;
}

.navbar__brand:hover {
  color: #19232d;
}

@media (min-width: 996px) {
  .navbar {
    padding-inline: 24px;
  }
  .navbar__brand {
    margin-right: 32px;
  }
  .navbar__title {
    display: block;
  }
  .navbar__item.navbar__link {
    @apply text-sm font-semibold text-[#304256]/40 hover:text-[#304256] hover:no-underline;
    margin-right: 16px;
  }
  .navbar__item.navbar__link.navbar__link--active {
    @apply text-[#304256];
  }
  .navbar__items--right .navbar__item {
    padding: 0;
  }
  .navbar__items--right .navbar__item + * {
    display: none;
  }
}

.navbar__items--right .navbar__item {
  display: block;
}

.home .navbar {
  position: relative;
  box-shadow: none;
  background-color: transparent;
}

.navbar-sidebar .launch-app {
  display: none;
}


.img-scale:hover {
  transform: scale3d(1.03,1.03,1);
}