@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Inter', sans-serif; */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* --ifm-color-primary: #d4dde5;
  --ifm-color-primary-dark: #b9c7d4;
  --ifm-color-primary-darker: #abbccc;
  --ifm-color-primary-darkest: #829cb3;
  --ifm-color-primary-light: #eff3f6;
  --ifm-color-primary-lighter: #fdfefe;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #101f2e;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3); */
}

@layer base {
  .home :where(*) {
    margin: 0;
    padding: 0;
  }
}
