/* Allow Default value to be above the description field */
.openapi-params__list-item,
.openapi-schema__list-item > div {
  display: flex !important;
  flex-direction: column !important;
}

.openapi-params__list-item > ul,
.openapi-schema__list-item > div > ul {
  order: 4;
}

/* Make the list items have their bullet points, margin left and padding bottom for readability */
.openapi-params__list-item ul,
.openapi-schema__list-item ul {
  margin-left: 40px;
  padding: 0 0 20px;
}

.openapi-params__list-item ul > li,
.openapi-schema__list-item ul > li {
  list-style-type: disc !important;
  display: list-item !important;
  line-height: 1.2;
}
