/* Apply styling to the entire Docs sidebar */
.theme-doc-sidebar-menu {
  padding: 0.2rem 0 0.2rem 0.2rem;
}

/* Styling for each sidebar link */
.theme-doc-sidebar-menu .menu__link {
  font-weight: 400 !important;
}

/* Highlight the active link */
.theme-doc-sidebar-menu .menu__link--active {
  color:rgb(0, 180, 90) !important;
  font-weight: 700 !important;
  background-color: ghostwhite;
  width: 99.5%;
  /* border-right-style: solid;
  border-right-color: lightgray; */
}

/* Disable hover effect for category items */

/* Custom styling for category items like "Swap API" */
/* .theme-doc-sidebar-menu .theme-doc-sidebar-item-category {
  font-size: 20px !important;
  color: #333 !important;
  background-color: #0e120e !important;
  padding: 10px 16px !important;
  border-radius: 5px !important;
} */

/* Custom styling for collapsible category labels */
.theme-doc-sidebar-menu .menu__list-item-collapsible .menu__link {
  color: black !important;
  font-weight: 700 !important;
  
}

.sidebar-line-break {
  border-top: 1px solid lightgray;  /* Set the color and style of the line */
  margin: 20px 0;  /* Add some space around the line */
}

:root {
  --doc-sidebar-width: 280px !important
}
